node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json

#
data/*
!data/.gitkeep

# Local config overrides
# TODO - consider strategy for local config 
# - thinking we want to have other gitignore in project using this starter as template
# src/config/*.local.ts
# src/config/content/*.local.tsx
